<main>
  <section class="presentacion">
    <section class="presentacion__contenido">
      <h1 class="presentacion__contenido__titulo">
        Impulsa tu negocio con una web profesional y moderna 🚀
        <span class="titulo-destaque">con un Front-end de calidad!
        </span>
      </h1>
      <p class="presentacion__contenido__texto">¡Hola! Soy Yamileth Caldera, desarrolladora web frontend, especializada
        en la creación de páginas web responsivas, dinámicas y optimizadas.
      </p>
      <div class="presentacion__enlaces">
        <h2 class="presentacion__enlaces__subtitulo">Accede a mis redes:</h2>
        <a class="presentacion__enlaces__link" href="https://github.com/YamilethReveca"><img
            src="./../../../assets/imagen/github.png">GitHub</a>
        <a class="presentacion__enlaces__link" href="https://www.linkedin.com/in/yamilethcaldera/"><img
            src="./../../../assets/imagen/linkedin.png">LinkedIn</a>
        <a class="presentacion__enlaces__link" href="https://x.com/yamilethcalder3"><img
            src="./../../../assets/imagen/twitter-novo.png">Twitter</a>

      </div>
    </section>
    <!-- <div class="sectionImagen"> -->
    <img class="presentacion__imagen" src="./../../../assets/imagen/perfil.png"
      alt="Foto de Yamileth desarrollando un proyecto">

    <!-- </div> -->

  </section>
</main>
