.footer
    background-color: var(--color-terciario)
    padding:24px
    text-align: center
    color: var(--color-primario)
    font-family: 'Montserrat', sans-serif
    font-size: 1.5rem
    font-weight: 400

