.header
    padding: 2% 0% 0% 15%


.header__menu
    display: flex
    gap:80px

.header__menu__link
    font-family: 'Montserrat', sans-serif
    font-size: 1.5rem
    font-weight: 600
    color:var(--color-terciario)
    padding: 10px
    text-decoration: none

