<h1>Sobre mi</h1>

<section class="miCard">

  <p>¡Hola! Soy Yamileth Caldera, desarrolladora web con experiencia en Angular y un fuerte enfoque en el desarrollo
    Front End. Me especializo en diseñar interfaces interactivas y funcionales utilizando HTML5, CSS3, JavaScript y
    TypeScript.</p>

  <ul> Mis Habilidades Profesionales son:<br>
    <li><i class="fa-solid fa-check"></i> Proactividad: Actitud para anticipar necesidades y tomar la iniciativa.</li>
    <li><i class="fa-solid fa-check"></i> Trabajo en Equipo: Experiencia en colaborar eficazmente con otros en proyectos y equipos multidisciplinarios.
    </li>
    <li><i class="fa-solid fa-check"></i> Gestión del Tiempo: Habilidad para organizar y priorizar tareas para cumplir con plazos y objetivos.</li>
    <li><i class="fa-solid fa-check"></i> Adaptabilidad: Capacidad para ajustarme a cambios y aprender nuevas tecnologías y metodologías rápidamente.
    </li>
    <li><i class="fa-solid fa-check"></i> Atención al Cliente: Experiencia en trato directo con clientes, resolviendo sus necesidades y problemas de
      manera
      efectiva.</li>
    <li><i class="fa-solid fa-check"></i> Liderazgo de Equipo: Experiencia en liderar equipos, motivar y coordinar esfuerzos para alcanzar objetivos
      comunes.</li>
    <li><i class="fa-solid fa-check"></i> Resolución de Problemas: Capacidad para identificar, analizar y solucionar problemas de manera asertiva.</li>
    <li><i class="fa-solid fa-check"></i> Profesionalismo: Compromiso con la ética laboral, la calidad y la eficiencia en todas las tareas y
      responsabilidades.</li>
  </ul>
</section>
