<section class="presentacion">
  <div class="presentacion__contenido">
    <h1 class="presentacion__contenido__titulo">Sobre mi</h1>
    <p class="presentacion__contenido__texto">Hola! soy desarrolladora web fullstack, tengo un año y medio desarrollando
      aplicaciones web para móvil y Tablet. He desarrollado aplicaciones utilizando un stack que incluye HTML, CSS y
      JavaScript, así como el framework Angular. He trabajado con consumo de API REST y he utilizado Insomnia para
      validar endpoints. Además, tengo experiencia en metodologías ágiles, especialmente SCRUM, y manejo comandos de
      Git. También cuento con capacitaciones en Backend, específicamente en Node.js y Express. He realizado pruebas
      unitarias en los diferentes proyectos que he desarrollado.</p>
    <p class="presentacion__contenido__texto"> Adicional, cuento con experiencia en atención al cliente, resolución
      efectiva de problemas, buen trato al publico , gestión de tiempo y organización, experiencia adquirida durante 12
      años de experiencia laboral , realizando funciones administrativas, operacional y a través de estudios
      universitario. </p>
  </div>

  <img class="presentacion__imagen" src="../../../assets/imagen/perfil.png"
    alt="Foto de YamilethReveca desarrolando un proyecto">

</section>
