<h1>Habilidades</h1>
<section class="miCard">

  <p class="parrafo"> Front-End:
    <img class="logo espacio" src="../../../assets/image/HTML5.png">
    <img class="logo" src="../../../assets/image/CSS3.png">
    <img class="logo" src="../../../assets/image/javascript.png">
    <img class="logo" src="../../../assets/image/Typescript.png">
    <img class="logo" src="../../../assets/image/Angular_full_color_logo.svg.png">
    <img class="logo" src="../../../assets/image/api_rest.png">
  </p><br>

  <p class="parrafo"> Backend:
    <img class="logo espacio" src="../../../assets/image/sql.png">
    <img class="logo" src="../../../assets/image/node.png">
    <img class="logo" src="../../../assets/image/express.png">
  </p><br>

  <p class="parrafo"> Herramientas:
    <img class="logo espacio" src="../../../assets/image/Git.png">
    <img class="logo" src="../../../assets/image/Trello.png">
    <img class="logo" src="../../../assets/image/insomnia.jpg">
    <img class="logo" src="../../../assets/image/figma.jpg">
  </p><br>


  <p class="parrafo"> Metodología:
    <img class="logo espacio" src="../../../assets/image/metodologia_agil.png">
  </p>
</section>
