<section class="presentacion__contenido">
  <h1 class="presentacion__contenido__titulo">
    Curriculum</h1>
  <p class="presentacion__contenido__texto">
    Desarrolladora Fullstack
  </p>
  <h2 class="presentacion__contenido__titulo">Experiencia laboral</h2>
  <p class="presentacion__contenido__texto"></p>
  <ul class="presentacion__contenido__texto">
    <li> Transferencias de Vehiculos (B.A.B) (2021 - 2022) - Administrativa </li>
    <li> Transferencias de Vehiculos (W.B.M)(2017 - 2020) - Administrativa </li>
    <li> Consolidados la Guaira 2011(2011-2016) - Administrativa </li>
  </ul>

  <h2 class="presentacion__contenido__titulo">Estudios</h2>
  <div class="presentacion__contenido__texto">
    <ul class="presentacion__contenido__texto">
      <li>Bootcamp en Desarrollo Web - Laboratoria <a
          href="https://www.credential.net/ed88f36f-49b2-4a02-970b-c25f68c1f513#acc.YimNoJ4B">con la certificación</a>
      </li>
      <li>Licenciatura en Administración mención Comercio Internacional - Universidad Nacional Experimental Marítima del
        Caribe(UMC)</li>
      <li>Tecnico Superior Universitario en Administración Tributaria- Instituto Universitario de Tecnologia Industrial
        Rodolfo Loero Arismendi

      </li>

    </ul>
  </div>

  <h2 class="presentacion__contenido__titulo">Formación complementaria</h2>
  <p class="presentacion__contenido__texto"></p>
  <ul class="presentacion__contenido__texto">
    <li> Curso HTML y CSS: trabajando con responsividad y publicación de proyectos- Alura Cursos <a
        href="https://app.aluracursos.com/certificate/234414e8-d176-47b3-a044-e0ec3ddf4aa4">con la certificación</a>
    </li>
    <li> Curso HTML y CSS: header, footer y variables CSS - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/d9136985-b5b4-45a3-bf3c-40ba1d35e236">con la certificación</a>
    </li>
    <li> Curso HTML y CSS: Clases, Posicionamiento y Flexbox - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/f07f00ed-3ee7-4899-82bf-889872be55b6">con la certificación</a>
    </li>
    <li> Curso HTML y CSS: ambientes de desarrollo, estructura de archivos y tags - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/d4b2c0bf-18cd-4e36-a50f-4611ddab33c6">con la certificación</a>
    </li>
    <li> Curso ChatGPT: optimizando la calidad de los resultados- Alura Cursos <a
        href="https://app.aluracursos.com/certificate/b5922698-b701-439d-b933-4eeef90a56ae">con la certificación</a>
    </li>
    <li> Curso Practicando Lógica de Programación: Challenge Amigo secreto - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/7072ba83-726e-491b-b65c-f838de84fcc4">con la certificación</a>
    </li>
    <li> Curso Git y GitHub: repositorio, commit y versiones - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/c336e710-e5b2-4788-b5df-d4abf6cd26c1">con la certificación</a>
    </li>
    <li> Curso Lógica de programación: explorar funciones y listas - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/9ebe79a4-f07f-4b95-83f4-2c65c0805a01">con la certificación</a>
    </li>
    <li> Curso Lógica de programación: sumérgete en la programación con JavaScript - Alura Cursos <a
        href="https://app.aluracursos.com/certificate/052c3cbb-a94d-426b-8af8-7443395ff986">con la certificación</a>
    </li>
    <li> Curso de Inglés básico A1 - Platzi <a href="linkdelacertificacion">con la certificación</a> </li>
    <li> Diploma participativa simulación laboral - No country <a href="linkdelacertificacion">con la certificación</a>
    </li>
    <li> Curso Arquitecturas CSS - Platzi <a href="linkdelacertificacion">con la certificación</a></li>
    <li> Curso Backend con Node.js: Api Rest con Express.Js - Platzi <a href="linkdelacertificacion">con la
        certificación</a> </li>
    <li> Curso Fundamentos de NodeJs - Platzi <a href="linkdelacertificacion">con la certificación</a></li>
    <li> Curso SQL - Laboratoria <a href="linkdelacertificacion">con la certificación</a></li>
    <li> Curso Introducción al Desarrollo Backend - Platzi <a href="linkdelacertificacion">con la certificación</a>
    </li>
    <li> Curso JavaScript engine (V8) y el navegador - Platzi <a href="linkdelacertificacion">con la certificación</a>
    </li>
    <li> Curso Básico de JavaScript - Platzi <a href="linkdelacertificacion">con la certificación</a></li>
    <li> Curso Aprende a programar desde cero - Lógica de programación - Udemy <a href="linkdelacertificacion">con la
        certificación</a> </li>
    <li> Curso de Programación para principiantes - Udemy <a href="linkdelacertificacion">con la certificación</a></li>
    <li> Curso de Algoritmos - Udemy <a href="linkdelacertificacion">con la certificación</a></li>
    <li> Curso de Power BI Básico - ASR Capacitaciones <a href="linkdelacertificacion">con la certificación</a> </li>
    <li> Curso de Excel Nivel Básico-Intermedio-Avanzado - ASR Capacitaciones <a href="linkdelacertificacion">con la
        certificación</a></li>
    <li> Curso de Excel Nivel Básico-Intermedio-Avanzado - ASR Capacitaciones <a href="linkdelacertificacion">con la
        certificación</a></li>
    <li> Curso de Excel Nivel Básico-Intermedio-Avanzado - ASR Capacitaciones <a href="linkdelacertificacion">con la
        certificación</a></li>
  </ul>

  <h2 class="presentacion__contenido__titulo">Habilidades blandas</h2>
  <p class="presentacion__contenido__texto"></p>
  <ul class="presentacion__contenido__texto">
    <li> Trabajo en equipo</li>
    <li> Gestión de tiempo</li>
    <li> Colaboración</li>
    <li> Adaptabilidad</li>
    <li> Mejoras continuas</li>
    <li> Liderazgo</li>
  </ul>


</section>
<!-- <img src="../../../assets/image/foto-perfil.jpg" alt="Foto de yamilethcaldera desarrolando un proyecto"> -->
