<h1>Formación</h1>
<section class="miCard">
  <p>Soy desarrolladora web Frontend, con certificación y autodidacta, con un sólido historial de certificaciones y cursos en tecnologías web que respaldan mis habilidades. Mi formación incluye una licenciatura en Administración, con mención en Comercio Internacional, de la Universidad Nacional Experimental Marítima del Caribe en Venezuela.

    Esta combinación de conocimientos me permite abordar problemas técnicos con una perspectiva integral y estratégica. Mi formación en administración me ha enseñado a gestionar proyectos de manera eficiente, liderar equipos y cultivar relaciones efectivas, habilidades que son esenciales en el desarrollo web y la colaboración en entornos multidisciplinarios.

    Mi enfoque en el aprendizaje continuo y mi pasión por la tecnología me impulsan a mantenerme actualizada con las tendencias del sector, lo que me permite ofrecer soluciones creativas e innovadoras en mis proyectos. Estoy comprometida con el profesionalismo y la calidad en cada etapa de mi trabajo, siempre buscando superar las expectativas y contribuir al éxito del equipo.</p><br>
</section>
