

.presentacion__proyecto
  width: 100%
  box-sizing: border-box
  padding: 6% 15%


.presentacion__contenido__titulo
  text-align: center
  margin-bottom: 37px


.carousel
    width: 100%
    overflow: hidden
    position: relative
    margin-bottom: 39px


.carousel-list
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 90vw
    overflow: hidden


.carrusel-track
    width: 100%
    display: flex
    transition: transform 0.5s ease-in-out


.carrusel
    flex: 0 0 auto
    width: calc(100% / 4)
    padding: 0px
    box-sizing: content-box

.carrusel a img
    object-fit: cover
    height: 300px
    width: 100%
    border-radius: 15px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)


.carrusel-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 4
    width: 30px
    height: 54px
    border-radius: 50%
    background-color: white
    border: none
    cursor: pointer


.carrusel-prev
    left: 10px


.carrusel-next
    right: 10px
