

.presentacion__proyecto
  width: 100%
  box-sizing: border-box
  padding: 8% 15%


.presentacion__contenido__titulo
  text-align: center
  margin-bottom: 37px


a
  text-decoration: none
  font-size: 1.5rem
  font-family: 'Montserrat', sans-serif

.presentacion__contenido__texto
  color: var(--color-secundario)
  text-align: center

.carousel
    width: 100%
    overflow: hidden
    position: relative
    margin-bottom: 39px


.carousel-list
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 90vw
    overflow: hidden


.carrusel-track
    width: 100%
    display: flex
    transition: transform 0.5s ease-in-out


.carrusel
    flex: 0 0 auto
    width: calc(100% / 4)
    padding: 0px
    box-sizing: content-box
    margin-left: 10px


.carrusel a img
    object-fit: cover
    height: 300px
    width: 100%
    border-radius: 15px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)



.carrusel-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 4
    width: 30px
    height: 54px
    border-radius: 50%
    background-color: white
    border: none
    cursor: pointer


.carrusel-prev
    left: 10px


.carrusel-next
    right: 10px


.carousel-dots
    display: flex
    justify-content: center
    margin-top: 10px

.dot
    width: 10px
    height: 10px
    margin: 0 5px
    background-color: #ccc
    border-radius: 50%
    transition: background-color 0.3s ease

    &.active
      background-color: #333 // Color activo





@media screen and (max-width: 991px)// tablets y moviles
.carrusel
    width: calc(100% / 2) // Muestra 2 elementos en tablets


@media (max-width: 767px) // Teléfonos pequeños
  .carrusel
    width: 100% // Muestra 1 solo elemento

  .carrusel-arrow
    width: 25px
    height: 45px

  .dot
    width: 8px
    height: 8px
