/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap')

:root
  --color-primario: #000000
  --color-secundario: #F6F6F6
  --color-terciario: #22D4FD
  --fuente-montserrat: 'Montserrat', sans-serif
  --fuente-montserrat: 'Krona One', sans-serif

html
  height: 100%

*
  margin: 0
  padding: 0

body
  box-sizing: border-box
  background-color: var(--color-primario)
  color: var(--color-secundario)


