

:root
  --color-primario:rgb(24, 28, 20)
  --color-secundario: #F6F6F6
  --color-terciario: #22D4FD
  --fuente-montserrat: 'Montserrat', sans-serif
  --fuente-krona: 'Krona One', sans-serif

*
  padding: 0
  margin: 0
  box-sizing: border-box

html, body
  height: 100%
  display: flex
  flex-direction: column
  background-color: var(--color-primario)
  color: var(--color-secundario)
  font-family: var(--fuente-montserrat)

.presentacion
  padding: 2% 10%
  display: flex
  align-items: center
  justify-content: space-between
  gap: 20px


.presentacion__contenido
  width: 50%
  display: flex
  flex-direction: column
  gap: 20px

.presentacion__contenido__titulo
  font-family: var(--fuente-krona)
  font-size: 2rem

.presentacion__contenido__texto
  font-size: 1.3rem
  text-align: justify
  line-height: 1.6

.titulo-destaque
  color: var(--color-terciario)

.presentacion__enlaces
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: column
  gap: 10px

.presentacion__enlaces__link
  width: 50%
  text-align: center
  padding: 21.5px 0
  border-radius: 8px
  font-size: 1.5rem
  font-weight: 600
  text-decoration: none
  color: var(--color-secundario)
  border: 2px solid var(--color-terciario)
  display: flex
  justify-content: center
  gap: 10px
  flex: 1 1 calc(25% - 10px)
  font-weight: bold
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)

.presentacion__enlaces__link:hover
  background-color: var(--color-primario)
  transform: translateY(-5px)

.presentacion__enlaces__subtitulo
  font-family: var(--fuente-krona)
  text-align: center

.presentacion__imagen
  width: 25%
  max-width: 200px
  height: auto
  border: 2px solid var(--color-terciario)
  border-radius: 8px // Bordes suaves


.presentacion__contenido__texto a
  text-decoration: none
  color: var(--color-terciario)

// Responsivo para Tablets (hasta 991px)
@media screen and (max-width: 991px)
  .presentacion
    flex-direction: column-reverse
    align-items: center
    text-align: center
    padding: 5%

  .presentacion__contenido
    width: 100%

  .presentacion__contenido__texto
    font-size: 1.2rem

  .presentacion__imagen
    width: 40%
    max-width: 180px

// Responsivo para Móviles (hasta 767px)
@media (max-width: 767px)
  .presentacion
    padding: 8%

  .presentacion__contenido__titulo
    font-size: 1.8rem

  .presentacion__contenido__texto
    font-size: 1.1rem

  .presentacion__imagen
    width: 50%
    max-width: 150px

  .presentacion__enlaces__subtitulo, .presentacion__enlaces__link
    font-size: 1.3rem
